<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float e Clear</title>

    <style>
        #container {
            width: 80%;
            background-color: #ccc;
            padding: 15px;
        }

        #container div {
            background-color: rgba(220, 20, 60, 0.638);
            margin: 10px;
            width: 20%;
            height: 80px;
        }

        #div1 {
            float:left
        }

        #div2 {
            float: right;
        }

        #div3 {
            clear: both;
        }

    </style>
    
</head>
<body>
     <div id="container">
        <div id="div1">div 1</div>
        <div id="div2">div 2</div>
        <div id="div3">div 3</div>
    </div>
</body>
</html>